{
	"env": {
		"browser": true,
		"node": true,
		"commonjs": true
	},
	"extends": [
		"next",
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:react/recommended",
		"prettier"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": ["react", "react-hooks", "import"],
	"rules": {
		"@next/next/no-img-element": "off",
		"react/no-unescaped-entities": 0,
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "warn",
		"@next/next/no-html-link-for-pages": 0,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"import/order": [
			1,
			{
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc"
				}
			}
		]
	}
}
